*{
  margin: 0;
  padding:0;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
  width: 728px;
  height: 410px;
  background-image: url("../img/sfondo1.jpg");
  position: relative;
}

.danger-line{
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 0;
 
}

.player{
  width: 130px;
  height:  130px;
  position:absolute;
  bottom: 10px;
  left: calc(50% - 25px);
}

.player img{
  width:130px;
  height: 130px;
}

.mb{
  height: 30px;
  width: 30px;
  position : absolute;
  
}

.mb img{
  height: 30px;
  width: 30px;
}